body {
    overflow: hidden;
}

main {
    position: relative;
    min-height: 500px;
}

.player {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: red;
    left: 0;
    top: 0;
    transform-origin: center center;
    will-change: transform;
}